{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
</div>
{% image self.banner_image fill-1200x300 as banner%}
<img src="{{ banner.url }}" alt="{{ banner.alt }}">
<br>
{# Check if there are tags #}
{% if page.tags.count %}
<h1>Tags:</h1>
{% for tag in page.tags.all %}
{# Loop through all the existing tags #}
<a href="/blog/?tag={{ tag.slug }}">{{ tag }}</a><br />
{% endfor %}
{% endif %}
<h1>
    {% if self.custom_title %}
    {{ self.custom_title }}
    {% else %}
    {{ self.title }}
    {% endif %}
</h1>
{% if self.subtitle %}
{{ self.subtitle }}
{% endif %}
<ul>
    {% for item in self.blog_authors.all %}
    {% image item.author.image fill-100x100 as img %}
    <li>{{ item.author }}</li>
    <img src="{{ img.url }}" alt="{{ item.author }}">
    {% if item.author.website %}
    <a href="{{ item.author.website }}">(website)</a>
    {% endif %}
    {% endfor %}
</ul>

<h2>Categories</h2>
<ul>
    {% for cat in self.categories.all %}
    <li>
        <a href="{{ self.get_parent.url }}/?category={{ cat.slug }}">
            {{ cat }}
        </a>
    </li>
    {% endfor %}
</ul>
{% if self.intro_image %}
{% image self.intro_image fill-1400x400 as intro_img %}
<img src="{{ intro_img.url }}" alt="{{ intro_img.alt }}">
{% endif %}

{% for block in self.content %}
{% include_block block %}
{% endfor %}

{% endblock %}