{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="ui text container" style="padding-top:100px;">
    <h1>{{ self.title }}</h1>
    <p>{{ self.custom_title }}</p>
</div>
</div>

<div class="ui container" style="padding:100px 0 100px 0;">
    {% image self.banner_image fill-1200x300 as banner%}
    <img src="{{ banner.url }}" alt="{{ banner.alt }}">

    {% for block in self.content %}
    {% include_block block %}
    {% endfor %}

    {% for cat in self.categories.all %}
    <a href="{{ self.get_parent.url }}?category={{ cat.slug }}">{{ cat }}</a>
    {% endfor %}

    <ul>
        {% for item in self.blog_authors.all %}
        {% image item.author.image fill-100x100 as img %}
        <li>{{ item.author }}</li>
        <img src="{{ img.url }}" alt="{{ item.author }}">
        {% if item.author.website %}
        <a href="{{ item.author.website }}">(website)</a>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}