{% extends "base.html" %}

{% load wagtailroutablepage_tags cache %}

{% block content %}
<div class="ui text container" style="padding-top:100px;">
    <a href="{% routablepageurl page 'latest_posts' %}">Latest</a>
</div>
</div>
<div class="ui container" style="padding:100px 0 100px 0;">
    <div class="ui three cards stackable grid">
        {% for post in posts %}
        {% comment %} {% cache 604800 blog_post_preview post.id %} {% endcomment %}
        {% include 'snippets/blog_list.html' %}
        {% comment %} {% endcache %} {% endcomment %}
        {% endfor %}
    </div>

    {% include "snippets/pagination.html" %}
</div>

{% endblock %}