{% extends "base.html" %}

{% block content %}
<div class="ui text container" style="padding-top:100px;">
    {% if categories_term %}
    Cat
    {% else %}
    <h1>Latest Posts</h1>
    {% endif %}
</div>
</div>
<div class="ui container" style="padding:100px 0 100px 0;">
    <div class="ui three cards">
        {% for post in posts %}
        {% comment %} {% cache 604800 blog_post_preview post.id %} {% endcomment %}
        {% include "snippets/blog_list.html" %}
        {% comment %} {% endcache %} {% endcomment %}
        {% endfor %}
    </div>
</div>

{% endblock %}