{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
</div>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">

        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
        {{provider_name}} account to login to
        {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}

      </div>
    </h2>
    <form class="ui large form" id="signup_form" method="POST" action="{% url 'socialaccount_signup' %}">
      <div class="ui stacked segment">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="ui fluid large teal submit button" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </div>
    </form>
    <div class="ui message">
      <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}