{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
</div>

{% get_providers as socialaccount_providers %}

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">

        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

      </div>
    </h2>
    <form class="ui large form" method="POST" action="{% url 'account_login' %}">
      <div class="ui stacked segment">
        {% csrf_token %}
        {{ form|crispy }}
        {% comment %} <div class="field {% for err in form.login.errors %}error{% endfor %}">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.login|as_crispy_field  }}
          </div>
        </div>
        <div class="field {% for err in form.password.errors %}error{% endfor %}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" id="id_password" placeholder="Password">
          </div>
        </div> {% endcomment %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="field">
          <a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
        <button class="ui fluid large teal submit button" type="submit">{% trans "Sign In" %}</button>
      </div>
    </form>


    {% if socialaccount_providers %}
    <div class="ui message">
      <div class="field">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>
    </div>
    {% else %}
    {% endif %}
  </div>
</div>

{% endblock %}