{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
</div>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">

                {% blocktrans %}Forgotten your password? Enter your e-mail address below, and we'll send you an
                e-mail allowing you to reset it.{% endblocktrans %}

            </div>
        </h2>
        <form class="ui large form" id="signup_form" method="POST" action="{% url 'account_reset_password' %}">
            <div class="ui stacked segment">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="ui fluid large teal submit button" type="submit">{% trans "Reset My Password" %}</button>
            </div>
        </form>
        <div class="ui message">
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}