{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
</div>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
        </h2>

        <h2 class="ui teal image header">
            <div class="content">

                {% trans "We are sorry, but the sign up is currently closed." %}

            </div>
        </h2>
    </div>
</div>
{% endblock %}