{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
</div>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
    </h2>

    <h2 class="ui teal image header">
      <div class="content">

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</p>

      </div>
    </h2>
    <form class="ui large form" id="signup_form" method="POST" action="{% url 'account_signup' %}">
      <div class="ui stacked segment">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="ui fluid large teal submit button" type="submit">{% trans "Sign Up" %}</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}