{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<a title="{{brand.name}}" class="ui {{provider.id}} {{brand.id}} button"
  href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
  <i class="{{provider.id}} {{brand.id}} icon"></i> {{brand.name}}
</a>
{% endfor %}
{% endif %}
<a data-tooltip="{{provider.name}}" class="ui circular {{provider.id}} icon button"
  href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
  <i class="{{provider.id}} icon"></i> 
  {% comment %} {{provider.name}} {% endcomment %}
</a>
{% endfor %}